.experience,
.skills,
.coursework {
    position: relative;
    top: -50px;
    animation: fadeIn 1s forwards;
    display: flex;

    h2 {
        font-size: 32px;
        margin: 0px;
    }

    h3 {
        color: #8d8d8d;
        margin: 0px;
    }
}

.skills p {
    margin: 0px;
}

.job-heading {
    display: flex;
}

.mx {
    width: 125px;
    margin-left: 10px;
}

.skill-level {
    position: relative;
    left: 50px;
    top: -28px;
    display: flex;
    flex-direction: row;
}

.beginner, .intermediate, .advanced, .expert {
    background-color: #fff;
    color: #00d2e6;
    opacity: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 80px;
    height: 3px;
    font-size: 12px;
    text-align: center;
}

.highlighted {
    opacity: 100%;
    background-color: #00d2e6;
}

.skill-icon-container {
    width: 50px;

    p {
        font-size: 10px;
        text-align: center;
    }

    .skill-icon {
        font-size: 32px;
        margin-left: 10px;
    }
}

.languages,
.development {
    margin-right: 75px;
    ul {
        margin-left: -50px;

        li {
            list-style-type: none;
        }
    }
}

.other h2 {
    margin-bottom: 10px;
}

.courses-list {
    color: #fff;
    font-size: 18px;
    position: relative;
    left: -20px;
    top: -15px;
}







