html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 14px/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;
  background: #001e33;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



